<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Project</title>
  <link rel="stylesheet" href="assets/css/project.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/77b392a698.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Navbar -->
  <nav>
    <div class="left">
      <ul>
        <img src="assets/img/brandred.png" alt="logo-dumbways">
           <li>
              <a href="/" >Home</a>
            </li>
          <li>
               <a href="/project" class="active">My Project</a>
            </li>
            <li>
                 <a href="/testimonial">Testimonial</a>
            </li>
      </ul>
    </div>
       <div class="left" style="margin-left:35%">
        <ul>
            {{#if isLogin}}
              <li class="d-flex">
                <p style="color: brown;"> Hello, {{user}}</p>
              </li>
                    <li>
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li>
                    <a href="/register">Register</a>
                    </li>
                    <li>
                    <a href="/login">login</a>
                    </li>
                 {{/if}}
                </ul>
                </div>
    <div class="right">
      <a href="/contact-me">Contact Me</a>
    </div>
    <div class="hamburger">
      <button style="background-color: transparent; border: none; cursor: pointer;" onclick="openHamburger()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </nav>
  <div class="hamburger-items" id="hamburger-items">
    <a href="index.html">Home</a>
    <a href="project.html" class="active">My Project</a>
    <a href="testimonial.html">Testimonial</a>
    <a href="contact-me.html" class="contact">Contact Me</a>
  </div>

  <!-- Project -->
  <div class="project">
    <div class="project-form">
      <div class="form-container">
         {{#if messages.danger}}
        <div class="alert alert-danger mt-5" role="alert">
          <div class="container">
        {{messages.danger}}
      </div>
    </div>
    {{/if}}
          <h1>ADD MY PROJECT</h1>
        <form id="card-form" action="/addProject" method="post" enctype="multipart/form-data">
          <div>
            <label for="input-project-title">Project Name</label>
            <input id="input-project-title" name="name" type="text" / >
          </div>
          <div class="input-date">
            <div>
              <label for="input-project-start">Start Date</label>
              <input type="date" id="input-project-start" name="start_date" />
            </div>
            <div>
              <label for="input-project-end">End Date</label>
              <input type="date" id="input-project-end" name="end_date"/>
            </div>
          </div>
          <div>
            <label for="input-project-desc">Description</label>
            <textarea id="input-project-desc" name="description"> </textarea>
          </div>
          <div class="tech">
            <label for="tech">Technologies</label>
          </div>
          <div class="checkbox-test">
            <label>
              <input type="checkbox" value="node" name="node" />
              <span>Node JS</span>
            </label>
            <label>
              <input type="checkbox" name="react" value="react">
              <span>React JS</span>
            </label>
          </div>
          <div class="checkbox-test">
            <label>
              <input type="checkbox" name="golang" value="golang">
              <span>Golang</span>
            </label>
            <label>
              <input type="checkbox" name="nextjs" value="nextjs">
              <span>Next Js</span>
            </label>
          </div>
           <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image</label>
        <input class="form-control" type="file" id="formFile" name="image">
      </div>
          <div class="submit">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
 </div>

  <script src="assets/js/hamburger.js"></script>
</body>

</html>